In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
train_data=pd.read_csv('Day6/train.csv')
train_data.head(5)

   age     bmi  children  smoker      charges
0   19  27.900         0       1  16884.92400
1   18  33.770         1       0   1725.55230
2   28  33.000         3       0   4449.46200
3   33  22.705         0       0  21984.47061
4   32  28.880         0       0   3866.85520

In [3]:
model=linear_model.LinearRegression()
model.fit(train_data[['age','bmi','children','smoker']],train_data.charges)

LinearRegression()

In [4]:
model.coef_

array([  290.82266731,   301.71619471,    97.41141732, 26448.55287479])

In [5]:
model.intercept_

-12183.865020671961

In [6]:
model.predict([[21,26,0,0]])

array([1768.03205528])

In [7]:
test_data=pd.read_csv("Day6/test.csv")
test_data.head(5)

   age    bmi  children  smoker     charges
0   28  23.98         3       1  17663.1442
1   27  24.75         0       1  16577.7795
2   31  28.50         5       0   6799.4580
3   53  28.10         3       0  11741.7260
4   58  32.01         1       0  11946.6259

In [8]:
model.score(test_data[['age','bmi','children','smoker']],test_data.charges)

0.7765413115623298